.conteudo-tabela{
    position: absolute;
    top:16%;
    right: 6%;

}

.tabela-estoque{
    border: 2px solid #EBEBEB;
    padding: 25px;
    border-radius: 25px;
}


.conteudo-tabela .tabela-estoque .title-estoque{
    margin: 25px;
    background-color: rgba(11, 140, 118, 0.1);
}

.tabela-estoque .title-estoque tr th{
    color: var(--verde1);

    font-size: 23px;
    width: 220px;

    font-family: "Farro", sans-serif;
    padding: 15px 0px 15px 0px;

}


#linha-estoque tr td{
    background-color: #F5F5F5;
    font-family: "Farro", sans-serif;
    text-align: center;
    padding: 10px 15px;
}






