* {
    list-style: none;
}
.container-ola {
    position: absolute;
    top: 15%;
    left: 30%;

    width: 600px;
    height: 200px;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;


}

.title-ola {
    position: absolute;
    top: 37%;
    left: 10%;

    font-size: 25px;
}
.title-ola-2 {
    position: absolute;
    top: 50%;
    left: 10%;

    font-size: 25px;
}

.title-ola-3 {
    position: absolute;
    top: 67%;
    left: 9%;
    font-size: 13px;
    font-weight: 100;

}

.imagens-businessman {
    position: absolute;
    top: 25%;
    left: 57%;

    width: 170px;
    height: 170px;
}

.imagens-retangulo {
    position: absolute;
    top: 12%;
    left: 55%;

    width: 200px;
    height: 200px;
}




.title-performance {
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
    color: #0B8C76;
}
.container-sua-performance {
    position: absolute;
    top: 50%;
    left: 30%;

    width: 600px;
    height: 203px;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

}

.retiradas {
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 20px;
}
.seta-para-baixo {
    position: absolute;
    top: 50%;
    left: 5%;

    position: absolute;

    width: 30px;
    height: 30px;
}
.info-num-1 {
    position: absolute;
    top: 50%;
    left: 12%;

    font-size: 40px;

}

.entradas {
    position: absolute;
    top: 35%;
    left: 45%;

    font-size: 20px
}
.seta-para-cima {
    position: absolute;
    top: 50%;
    left: 45%;

    width: 30px;
    height: 30px;

}
.info-num-2 {
    position: absolute;
    top: 50%;
    left: 52%;

    font-size: 40px;
}
.grafico-redondo {
    position: absolute;
    top: 30%;
    left: 77%;

    width: 100px;
    height: 100px;
}


.container-notificacoes {
    position: absolute;
    top: 15%;
    left: 70%;

    width: 300px;
    height: 490px;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

}

.title-notificacoes {
    margin-top: 16px;
    margin-left: 16px;
    font-size: 25px;
}


.container-notificacoes img {
    width: 20px;
}


.container-notificacoes ul li {
    margin-top: 20px;
    color: #AAA6A6;
    display: flex;
    padding: 0;

    align-items: center;
    justify-content: left;
    gap:15px;

}



.title-movimentacoes {
    text-align: center;
    font-size: 25px;

    max-width: 200px;
}

.container-movimentacoes {
    position: absolute;
    top: 85%;
    left: 30%;

    width: 320px;
    height: 290px;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.container-movimentacoes ul li {
    border: 1px solid #0F766E;
    border-radius: 7px;
    padding: 7px;
    margin-bottom: 10px;

}

.container-movimentacoes img {
    position: absolute;
    top: 78%;
    left: 30%;
    width: 100px;
    height: 100px;
}



.title-visao {
    font-size: 25px;
}

.container-visao {
    position: absolute;
    top: 85%;
    left: 54.5%;
    width: 580px;
    height: 290px;

    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    
}

.container-visao img {
    position: absolute;
    top: 5%;
    left: 8%;
    width: 500px;
    height: 300px;
}