
* {
    list-style: none;
}
.container-ola {
    position: absolute;
    top: 15%;
    left: 25%;

    width: 800px;
    height: 200px;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;


}

.ola-titles{
    margin: 36px 0px 0px 25px;
    
    & h1  {
        font-size: 45px;
        font-weight: 400;
    }

    & h1 span{
        color: var(--verde3);

    }

    & p{
        font-size: 25px;
        font-weight: 300;
    }

    & h4{
        font-size: 15px;
        font-weight: 250;
    }
}



.imagens-businessman {
    position: absolute;
    top:-6.5%;
    left: 51%;

    width: 260px;
    height: auto;
}

.imagens-retangulo {
    position: absolute;
    top: 12%;
    left: 56%;

    width: 200px;
    height: 200px;
}

.title-performance {
    font-size: 25px;
    color: #0B8C76;
    font-weight:normal;
    margin-top: 10px;
    
}

.container-sua-performance {
    position: absolute;
    top: 42%;
    left: 25%;

    width: 730px;
    height: 203px;
    padding: 35px;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

}


.retiradas-entradas{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.retirada-vermelho{
    align-items: center;
}

.retiradas, .entradas {
    font-size: 20px;
    padding: 0;
}

.retirada-vermelho .seta-para-baixo, .seta-para-cima{
    width: 55px;
    height: auto;
    padding: 0;
    margin: 0;
}

.info-retiradas, .info-entradas{
    display: flex;
    padding: 0;
    
}

.info-retiradas .info-num-1, .info-num-2{
    font-size: 65px;
}



.grafico-redondo{

    position: relative;
    top: -33%;
    width: 230px;
    height: auto;
}


.container-notificacoes {
    position: absolute;
    top: 15%;
    left: 70%;

    width: 300px;
    height: 520px;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

}

.title-notificacoes {
    margin: 20px;
    font-size: 25px;
    color: var(--verde1);
}


.container-notificacoes img {
    width: 20px;
}

.container-movimentacoes span{
    color: var(--verde1);
}

.container-notificacoes ul li {
    margin-top: 20px;
    color: #AAA6A6;
    display: flex;
    padding: 0;

    align-items: center;
    justify-content: left;
    gap:15px;

}



.title-movimentacoes {
    text-align: center;
    font-size: 25px;
    padding: 15px;

    color: var(--verde1);
}

.container-movimentacoes {
    position: absolute;
    top: 80%;
    left: 25%;

    width: 320px;
    height: auto;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.container-movimentacoes ul li {
    border: 1.5px solid #0F766E;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;

}

.container-movimentacoes img {
    position: absolute;
    top: 85%;
    left: 30%;
    width: 100px;
    height: 100px;
}




.title-visao {
    font-size: 25px;
}

.container-visao {
    position: absolute;
    top: 80%;
    left: 44.5%;
    width: 790px;
    height: 333px;

    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    
}

.container-visao img {
    width: 600px;
    height: auto;
}

