
.logo{
    width: 85%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}

nav{
    background: #032620;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(11, 140, 118, 1) 100%);
    width: 15%;
    height: 1500px;
    margin-right: 90%;
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px;
    
    padding: 20px;
}

ul{
    margin: 15px;
    padding: 0;
    
}


ul li {
    color: #fff;
    margin: 15px 0px;
    padding: 10px 15px;
    list-style: none;
    
    gap: 10px;
    display: flex;
    align-items: center;

    border-radius: 25px;
    transition: 0.3s;
}

ul li:hover {
    background: rgba(255,255,255,0.1);
    cursor:pointer
}

ul li.ativo {
    position: relative;
    background: rgba(255, 255, 255, 0.185);
    backdrop-filter: blur(20px);
    
    padding-bottom: 15px;
    padding-top: 15px;

    border: 1ps solid red;
}



ul li a{
    font-size: 20px;
    font-family: "Farro", sans-serif;
    font-weight: 400;

    color: white;
    text-decoration: none;

    width: 100%;
    
}

ul li img{
    width: 17%;
    padding: 0;
    margin: 0;
    
}
