
.fundo {
    position: absolute;
    width: 83%;
    left: 17%;
    top: -18%;
}

.foto-perfil {
    position: absolute;
    top: 10%;
    left: 32%;

    width: 190px;
    height: auto;
    border-radius: 100%;
}

.msg-ola {
    position: absolute;
    top: 14%;
    left: 44.5%;

    & h1{
        font-size: 35px;
        font-weight: 400;
        
        & span{
            color: var(--verde3);
            font-weight: 550;
        }
    }
    & p{
            font-size: 25px;
            font-weight: 300;
        }

}

/*botão personalizar*/
.btn-personalizar {
    position: absolute;
    top: 26%;
    left: 39%;

    width: 35px;
    height: 35px;
    border-radius: 45px;

    border: none;
    background-color: #047a66;
}

.btn-personalizar img {
    position: absolute;
    top: 21%;
    left: 22%;

    width: 20px;
    height: 20px;
}






.dados-container {
    position: absolute;
    top: 35%;
    left: 32%;
    width: 840px;
    height: auto;
    
    
    border-radius: 20px;
    padding: 35px;
    background: transperent;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

}

.dados-pessoais {
    display: flex;    
    justify-content: space-between;
}

.fieldset {
    border: none;
}

.dados-container p{
    font-size: 25px;
    text-align: left;

    margin-bottom: 20px;
}

.fieldset label {
    font-size: 18px;
    font-weight: normal;
    color: #0c8873;

    
}

.fieldset input {
    border-radius: 11px;
    border: #a7a7a796 solid 1.5px;
    width: 300px;
    height: 30px;
    font-family: "Farro", sans-serif;

    padding-left: 15px;


    cursor: pointer;
    margin-bottom: 25px;
}


.fieldset input:focus{
    outline: none;
}


.divisao {
    background-color: #a7a7a796;
    color: #000;
    height: 160px;
    width: 1.5px;
}

.btn-personalizar-dados {
    position: absolute;
    top: 75%;
    left: 88%;

}

.btn-personalizar-2 {
    width: 35px;
    height: 35px;
    border-radius: 45px;

    border: none;
    background-color: #047a66;
}



.btn-personalizar-2 img {
    position: absolute;
    top: 21%;
    left: 22%;

    width: 20px;
    height: 20px;
}

/*container dos gerentes*/
.gerentes-container {
    position: absolute;
    top: 70%;
    left: 32%;

    width: 450px;
    height: 280px;
    border-radius: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}




.gerentes-container ul li {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: #a7a7a796 solid 1.5px;
    color: #000;
    padding: 7px;

    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 205px;
    margin-bottom: 15px;
}

.gerentes-container ul li div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.gerentes-title  a{
    font-size: 24px;
    text-align: left;
    padding: 15px;
    color: var(--verde2);
    text-decoration: none;
}



.foto-gerente {
    border-radius: 45px;
    width: 35px;
    height: 35px;
}

.icons-gerente-1 {
    position: absolute;
    left: 82%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icons-gerente-2 {
    position: absolute;
    left: 88%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}




/*container dos botões*/
.btn-container {
    position: absolute;
    top: 70%;
    left: 63%;

    width: 300px;
    height: 280px;
    border-radius: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

}

.btn-adicionar {
    position: absolute;
    top: 18%;
    left: 19%;

    width: 200px;
    height: 60px;

    background-color: #047a66;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}


.btn-adicionar p {
    font-family: 'Farro';
    position: absolute;
    top: 37%;
    left: 25%;
}

.btn-icon-1 {
    width: 30px;
    position: absolute;
    top: 24%;
    left: 8%;
}

.btn-sair {
    position: absolute;
    top: 52%;
    left: 19%;

    width: 200px;
    height: 60px;

    background-color: #de0101;
    color: #fff;
    border: none;
    border-radius: 30px;

    text-align: center;
    align-items: center;
    cursor: pointer;


}

.btn-sair p {
    font-family: 'Farro';
    position: absolute;
    top: 37%;
    left: 28%;
}

.btn-icon-2 {
    width: 30px;
    position: absolute;
    top: 25%;
    left: 9.5%;
}


.btn-sair:hover{
    background-color: #970303;
}
.btn-sair:active{
    background-color: #5c0303;
    transform: scale(1.02);
}

.btn-personalizar-2:hover, .btn-personalizar:hover, .btn-adicionar:hover{
    background-color: #0f6d5d;
}

.btn-adicionar:active{
    background-color: #115E59;
    transform: scale(1.02) ;
}